* {
  margin: 0;
  padding: 0;
}
header {
  height: 80px;
  background-color: #010101;
  border: 1px solid black;
}
.box1 {
  width: 1200px;
  margin: auto;
  color: white;
  font-family: SourceHanSansSC-regular;
}
.title {
  float: left;
  width: 280px;
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  text-align: left;
}
.nav {
  float: right;
}
ul {
  list-style: none;
}
.ul1 > li {
  width: 120px;
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  font-family: SourceHanSansSC-regular;
  float: left;
}
.ul1 > li > a {
  color: white;
  text-decoration: none;
}
.box2 {
  width: 240px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  padding-top: 20px;
  position: absolute;
  display: none;
}
.box2One {
  width: 120px;
  float: left;
  text-align: center;
  line-height: normal;
}
.box2One > li {
  height: 40px;
}
.a1 {
  text-decoration: none;
  color: blue;
}
.li1 > a {
  text-decoration: none;
  font-size: 20px;
  color: black !important;
}
.a2 {
  text-decoration: none;
  color: #cccccc;
}
.box2Two {
  float: right;
}
.liBox {
  position: relative;
}
.liBox:hover > .box2 {
  display: block;
}
.top {
  width: 100%;
  height: 400px;
  background-image: url(../images/首页图.0775a553.jpg);
  background-size: cover;
  background-position: 50% center;
}
.box3 {
  width: 100%;
  height: 600px;
  border: 1px solid #cccccc;
}
.p1 {
  color: #101010;
  font-size: 28px;
  text-align: center;
  font-family: SourceHanSansSC-regular;
  margin-top: 20px;
  margin-bottom: 50px;
}
.box4 {
  margin: auto;
  width: 900px;
}
.ul3 {
  height: 50px;
}
.ul3 > li {
  width: 300px;
  height: 50px;
  /* line-height: 50px; */

  font-size: 26px;
  float: left;
}
.ul3 > li > span {
  display: block;
  float: left;
  height: 50px;
}
.p2 {
  margin-left: 10px;
  margin-top: 12px;
}
.ul2 {
  /* height: 320px; */
  margin-top: 50px;
  width: 100px;
  margin-left: 20px;
  float: left;
}
.ul2 > li {
  height: 40px;

  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
.ul2 > li > a {
  text-decoration: none;
}
.ul4 {
  margin-left: 220px;
}
.box5 {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.box5 > div {
  width: 1000px;
  margin: auto;
  height: 500px;
}
.box5One {
  float: left;
}
.box5Two {
  float: right;
}
.box6 {
  margin: auto;
  width: 1200px;
  height: 400px;
}
.box6 > div {
  float: left;
  margin-left: 50px;
}
.box6 > div > img {
  width: 250px;
  height: 200px;
}
/* 底部 */
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 31px;
  text-align: center;
}
.footer-box {
  width: 1200px;
  height: 16px;
  margin: auto;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  line-height: 78px;
}
.footer-box a {
  color: #fff;
  display: inline-block;
  width: 110px;
}
.footer-item {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  color: #fff;
  font-size: 12px;
}
